<div class="container">
    <div class="table">
        <thead>

            <tr>

                <th scope="col">#</th>
                <th scope="col">GUEST NAME</th>
                <th scope="col">GUEST GENDER</th>
                <th scope="col">GUEST FAMILLY MEMBERSE NAME</th>
                <th scope="col">GUEST FAMILLY MEMBERSE GENDER</th>
                <th scope="col">TOTAL GUEST MEMBERSE</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">CHECKIN DATE TIME</th>
                <th scope="col">CHECKOUT DATE TIME</th>
                <th scope="col">EMAILID</th>
                <th scope="col">STATUS</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of user">
                <td>{{item.id}}</td>
                <td>{{item.guestName}}</td>
                <td>{{item.guestGender}}</td>
                <td>{{item.familyMemberName}}</td>
                <td>{{item.familyMemberGender}}</td>
                <td>{{item.totalGuestAttending}}</td>
                <td>{{item.address}}</td>
                <td>{{item.checkinDateTime}}</td>
                <td>{{item.checkoutDateTime}}</td>
                <td>{{item.emailId}}</td>
                <td *ngIf="item.status==true;else elseBlock">
                    <button class="btn btn-primary">Yes</button>
                </td>
                <ng-template #elseBlock>
                    <td *ngIf="item.status==false">
                        <button class="btn btn-danger">No</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>

    </div>
</div>